#todo-list{
    border: 40px;
    padding-top: 40px;
}
#todo-list ul{
    padding-left: 0px;
    list-style-type: none;
}
#todo-list ul li{
    padding: 10px;
    border: 1px dashed #ddd;
    margin-top: 5px;
    background-color: rgba(240, 240, 240, .4);
}
span.actions {
    float: right;
   
}
a.delete {
    color: red;
    cursor: pointer;
    text-decoration: none;
    visibility: hidden;
}
#todo-list ul li:hover a.delete {
    visibility: visible;
    color: red;
}